name: build
on: [workflow_dispatch] # 버튼을 눌러서 수동으로 빌드 시작

jobs:
  build:
    runs-on: windows-latest # 윈도우 서버를 빌려서 사용
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        
    - name: Install Dependencies
      run: |
        choco install ninja
        
    - name: Download Skia
      shell: powershell
      run: |
        $url = "https://github.com/aseprite/skia/releases/download/m124-08a5439a6b/Skia-Windows-Release-x64.zip"
        
        Write-Host "Downloading Skia from $url"
        try {
            Invoke-WebRequest -Uri $url -OutFile skia.zip -UserAgent "NativeHost"
            Write-Host "Download complete. Extracting..."
            Expand-Archive -Path skia.zip -DestinationPath skia -Force
        } catch {
            Write-Error "Download failed. Please check the URL."
            exit 1
        }
        
    - name: Configuring CMake
      run: |
        mkdir build
        cd build
        cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DLAF_BACKEND=skia -DSKIA_DIR=../skia -DSKIA_LIBRARY_DIR=../skia/out/Release-x64 -DSKIA_LIBRARY=../skia/out/Release-x64/skia.lib ..
        
    - name: Compiling
      run: |
        cd build
        ninja aseprite
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: aseprite-windows
        path: |
          build/bin/aseprite.exe
          build/bin/data
